<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Food</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    >
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >
</head>
<body>
    <section class="section">
        <h1 class="title">EasyFood</h1>
        <div class="box">
            <h2 class="subtitle has-text-weight-bold mb-3">Bienvenido/a.</h2>
            <p>
                Seleccione una opción:
            </p>
        </div>
        <div class="box center-box">
            
            <h2 class="subtitle has-text-weight-bold mb-3">Opciones</h2>
            <a href="/consultas_predefinidas">
                <button class="button is-success">
                    Consultas predefinidas
                </button>
            </a>
            <a href="/consultas">
                <button class="button is-success">
                    Consultas
                </button>
            </a>
        </div>
        <style>
                .center-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                .center-box button {
    margin: 10px; 
    }
            </style>
    </section>
</body>
</html>